<h4>
  Hi, <%= @product.user.first_name %> 
</h4>

<p>We're happy you're trying new stock out. Here's the product page you created for convenience!</p>

<p>
  <%= @product.title %>
  <br>
  <%= @product.price%>
</p>
<p>
  <%= @product.description %> 
</p>

<%= link_to("Check out your product here", product_url(@product, anchor: dom_id(@product)))%>

<p>Cheers, <br>the Amazon team</p>